parameters:
  level: max
  paths:
    - src
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - message: '/^Parameter #2 \$callback of function array_filter expects callable\(mixed, mixed\): bool, .strlen. given\.$/'
      paths:
        - src/Mapping/Annotation/Route.php
        - src/Mapping/Driver/MappingTrait.php
    - message: '/^Call to an undefined method ReflectionType::getName\(\)\.$/'
      path: src/Mapping/Driver/AnnotationDriver.php
