includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan-phpunit.neon

parameters:
  level: max
  checkMissingCallableSignature: true
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  typeAliases:
    GroupMapping: 'array{prefix?: string, placeholders?: mixed, middleware?: mixed, routes: array<string, mixed>}'
    RouteMapping: 'array{invokable?: mixed, name?: string, prefix?: string, pattern?: string, placeholders?: mixed, xmlHttpRequest?: mixed, priority?: mixed, middleware?: mixed}'
  ignoreErrors:
    - message: '/^Call to an undefined method ReflectionType::getName\(\)\.$/'
      path: src/Mapping/Driver/AnnotationDriver.php
    - message: '/^Error suppression via "@" should not be used\.$/'
      paths:
        - src/Configuration.php
        - src/Mapping/Annotation/Router.php
        - src/Route/RouteResolver.php
    # Slim's route
    - message: '/^Property Slim\\Routing\\Route::\$arguments \(array<string, string>\) does not accept array<string, mixed>\.$/'
      path: src/Route/Route.php
    - message: '/^Parameter #1 \$arguments of method Slim\\Routing\\Route::setArguments\(\) expects array<string, string>, array<string, mixed> given\.$/'
      path: src/RouteCollector.php
