includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: max
  checkGenericClassInNonGenericObjectType: false
  checkMissingCallableSignature: true
  tipsOfTheDay: false
  errorFormat: compact
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  typeAliases:
    GroupMapping: 'array{prefix?: string, placeholders?: mixed, middleware?: mixed, routes: array<string, mixed>}'
    RouteMapping: 'array{invokable?: mixed, name?: string, prefix?: string, pattern?: string, placeholders?: mixed, xmlHttpRequest?: mixed, priority?: mixed, middleware?: mixed}'
  ignoreErrors:
    - message: '/^Parameter #1 \$callback of function array_map expects \(callable\(.+\)\|null, Closure\(string\): string given\.$/'
      path: src/Mapping/Metadata/AbstractMetadata.php
    - message: '/^Call to an undefined method ReflectionType::getName\(\)\.$/'
      path: src/Mapping/Driver/AnnotationDriver.php
    # Slim's route
    - message: '/^Property Slim\\Routing\\Route::\$arguments \(array<string, string>\) does not accept array<string, mixed>\.$/'
      path: src/Route/Route.php
    - message: '/^Parameter #1 \$arguments of method Slim\\Routing\\Route::setArguments\(\) expects array<string, string>, array<string, mixed> given\.$/'
      path: src/RouteCollector.php
    - message: '/^Parameter #3 \$callable of method Slim\\Routing\\Route::__construct\(\) expects \(callable\(\): mixed\)\|string, array<string>\|\(callable\(\): mixed\)\|string given\.$/'
      path: src/Route/Route.php
