includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan-phpunit.neon

parameters:
  level: max
  checkMissingCallableSignature: true
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - src
  typeAliases:
    GroupMapping: 'array{prefix?: string, placeholders?: mixed, middleware?: mixed, routes: array<string, mixed>}'
    RouteMapping: 'array{invokable?: mixed, name?: string, prefix?: string, pattern?: string, placeholders?: mixed, xmlHttpRequest?: mixed, priority?: mixed, middleware?: mixed}'
  ignoreErrors:
    - message: '/^Call to an undefined method ReflectionType::getName\(\)\.$/'
      path: src/Mapping/Driver/AnnotationDriver.php
    - message: '/^Error suppression via "@" should not be used\.$/'
      paths:
        - src/Configuration.php
        - src/Mapping/Annotation/Router.php
        - src/Route/RouteResolver.php
    # Slim's invocation strategy
    - message: '/^Parameter #1 \$callable \(callable\(Psr\\Http\\Message\\ServerRequestInterface\): mixed\) of method Jgut\\Slim\\Routing\\Strategy\\RequestHandler::__invoke\(\) should be contravariant with parameter \$callable \(callable\(\): mixed\) of method Slim\\Interfaces\\InvocationStrategyInterface::__invoke\(\)$/'
      path: src/Strategy/RequestHandler.php
    - message: '/^Parameter #1 \$callable \(callable\(Psr\\Http\\Message\\ServerRequestInterface, Psr\\Http\\Message\\ResponseInterface, array<string, mixed>\): mixed\) of method Jgut\\Slim\\Routing\\Strategy\\RequestResponse::__invoke\(\) should be contravariant with parameter \$callable \(callable\(\): mixed\) of method Slim\\Interfaces\\InvocationStrategyInterface::__invoke\(\)$/'
      path: src/Strategy/RequestResponse.php
    - message: '/^Parameter #1 \$callable \(callable\(Psr\\Http\\Message\\ServerRequestInterface, Psr\\Http\\Message\\ResponseInterface\): mixed\) of method Jgut\\Slim\\Routing\\Strategy\\RequestResponseArgs::__invoke\(\) should be contravariant with parameter \$callable \(callable\(\): mixed\) of method Slim\\Interfaces\\InvocationStrategyInterface::__invoke\(\)$/'
      path: src/Strategy/RequestResponseArgs.php
    - message: '/^Parameter #1 \$callable \(callable\(Psr\\Http\\Message\\ServerRequestInterface, Psr\\Http\\Message\\ResponseInterface\): mixed\) of method Jgut\\Slim\\Routing\\Strategy\\RequestResponseNamedArgs::__invoke\(\) should be contravariant with parameter \$callable \(callable\(\): mixed\) of method Slim\\Interfaces\\InvocationStrategyInterface::__invoke\(\)$/'
      path: src/Strategy/RequestResponseNamedArgs.php
    # Slim's route
    - message: '/^Parameter #3 \$callable of method Slim\\Routing\\Route::__construct\(\) expects \(callable\(\): mixed\)\|string, array{string, string}\|\(callable\(\): mixed\)\|string given\.$/'
      path: src/Route/Route.php
    - message: '/^Property Slim\\Routing\\Route::\$arguments \(array<string, string>\) does not accept array<string, mixed>\.$/'
      path: src/Route/Route.php
    - message: '/^Parameter #1 \$arguments of method Slim\\Routing\\Route::setArguments\(\) expects array<string, string>, array<string, mixed> given\.$/'
      path: src/RouteCollector.php
